
.login-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
}

.loginpage-wrapper{
    width: 30%;
    height: 45%;
    position: absolute;
}
